<h1>My GPA Calculator</h1>

<form [formGroup]="foodForm" (ngSubmit)="addFood()">
  <mat-grid-list [cols]="columns" rowHeight="80px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field>
        <input matInput placeholder="Current Credit Hours" formControlName="foodName" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field>
        <input matInput placeholder="Current GPA" formControlName="calories" />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field>
        <input matInput placeholder="Potential Grade" formControlName="units" />
      </mat-form-field>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Course Type</mat-label>
        <select matNativeControl id="unitType" formControlName="unitType">
          <option *ngFor="let unitType of unitTypes">{{ unitType }}</option>
        </select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field>
        <input matInput placeholder="Course Title" formControlName="price" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-raised-button color="primary" type="submit">Add</button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
<h2>GPA List</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="foodName">
    <th mat-header-cell *matHeaderCellDef>Current Credit Hours</th>
    <td mat-cell *matCellDef="let element">{{ element.foodName }}</td>
  </ng-container>
  <ng-container matColumnDef="calories">
    <th mat-header-cell *matHeaderCellDef>Current GPA</th>
    <td mat-cell *matCellDef="let element">{{ element.calories }}</td>
  </ng-container>
  <ng-container matColumnDef="units">
    <th mat-header-cell *matHeaderCellDef>Potential Grade</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field
        ><input
          matInput
          type="number"
          [(ngModel)]="element.units"
          (ngModelChange)="updateFoodData()"
      /></mat-form-field>
    </td>
  </ng-container>
  <ng-container matColumnDef="unitType">
    <th mat-header-cell *matHeaderCellDef>Course Type</th>
    <td mat-cell *matCellDef="let element">{{ element.unitType }}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Course Title</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>
  
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let i = index">
      <button mat-flat-button color="warn" (click)="deleteFood(i)">
        Delete {{ i }}
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div id="recipe-data" *ngIf="tableContainsData">
  <p>Potential GPA: {{ totalCalories }}</p>
  <button mat-raised-button color="primary" (click)="clearTable()">
    Delete All
  </button>
</div>
