<nav>
    <ul>
      <li>
        <a mat-button color="accent" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/detail" routerLinkActive="active">Detail</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/recipes" routerLinkActive="active">Recipes</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/calculator" routerLinkActive="active">GPA Calculator</a>
      </li>
    </ul>
  </nav>